.image {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-size: cover;
  background-position: center;
}

.message {
  margin-top: 05rem;
  align-items: center;
  text-align: center;

  font-size: 25px;
}

.container {
  width: 100%;
  display: block;

}

.buttons {
  background: url(../../images/botões.png);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 4rem;
  margin: 0 30%;
  text-align: center;
}

.text{
    padding: 2rem;
}
