@import url('https://fonts.googleapis.com/css?family=Bungee|Istok+Web');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
body {
    background: url("../images/pexels-photo-942316.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
    color: rgb(250, 235, 215);
}

/*Header*/

.header {
    width: 100%;
    height: 13vh;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 5vh;
}

.title-header {
    font-size: 3em;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 240);
    font-family: 'Bungee', cursive;
}

/*content*/

.container {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 74vh;
    text-align: center;
}

.title-content {
    font-size: 1.4em;
    font-family: 'Bungee', cursive;
}

.content-data {
    flex: 1;
    background: rgba(78, 78, 78, 0.8);
}

.description_item {
    font-size: 1.2em;
}

.select, .input {
    width: 25vw;
    height: 5vh;
    text-align: center;
    background: rgba(29, 29, 29, 0.8);
    border-radius: 5px;
    border-color: black;
    color: rgb(240, 255, 255);
}

.select {
    padding: 5px;
}

.select option {
    font-size: 1.2em;
}

.input {
    padding: 0;
    margin: 1vh 0 0.3vh 0;
}

.input::-webkit-input-placeholder {
    color: rgb(240, 255, 255);
}

.button {
    width: 15vw;
    height: 7vh;
    margin: 3vh auto 0 auto;
    border-color: rgb(105, 105, 105);
    background: rgba(28, 43, 43, 0.6);
    color: rgb(240, 255, 255);
    font-size: 1.15em;
    border-radius: 10px;
}

.content-return {
    overflow: auto;
    flex: 1.5;
    background: rgba(41, 41, 41, 0.5);
}

.itens p {
    font-size: 1.2em;
}

/*Footer*/

.footer {
    position: fixed;
    bottom: 0.5px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 8vh;
    font-size: 6vh;
    display: flex;
}

.total {
    text-align: right;
    flex: 1;
}

.credits {
    margin-top: 3vh;
    font-size: 0.4em;
    font-family: 'Pathway Gothic One', sans-serif;
}

.resultado {
    margin-right: 2vw;
}

/*Extras*/

.invisible {
    display: none;
}