@import url('https://fonts.googleapis.com/css?family=Bungee|Istok+Web');

body{
    background: url("../images/pexels-photo-942316.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

    font-family: 'Istok Web', sans-serif;
    color: rgb(250,235,215);
}
/*Header*/

.header{
    width: 100%;
    height: 13vh;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 5vh;
}

.title-header{
    font-size: 3em;
    margin: 0;
    text-align: center;
    color: rgb(255,255,240);
    font-family: 'Bungee', cursive;
}

/*content*/

.container{
    height: 74vh;;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
}

.data{
    width: 60%;
    margin: 0 20%;
    align-items: center;
    text-align: center;
    /* background: palegreen; */
}

.title-content{
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 1.2em;
    margin-top: 0;
}

.description_item{
    margin: 0;
}
.container_content{
    flex: 1;
}

.itens{
    width: 60%;
    margin: 0 20%;
    margin-top: 3vh;
    /* background: rebeccapurple; */
    text-align: center;
    padding-top: 5vh;
    flex: 1.5;
}

.itens p{
    margin-top: 0;
}

.button{
}

/*Footer*/

.footer{
    position: fixed;
    bottom: 0.5px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 8vh;
    text-align: right;
    font-size: 6vh;
}

.resultado{
margin-right: 2vw;
}


/*Extras*/
.invisible{
    display: none;
}
